.flows_US-C02S7313FVH6.json.backup
[{"id":"618ec55a.dba7ec","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"4b4abcef.f63894","type":"fitbit-credentials","z":"","username":""},{"id":"1fce5651.1e3b2a","type":"twitter-credentials","z":"","screen_name":""},{"id":"6f77cd38.cf1bf4","type":"twitter-credentials","z":"","screen_name":""},{"id":"6ef639e.78a46c8","type":"mqtt-broker","z":"","name":"Perry Sensor","broker":"0.0.0.0","port":"1883","clientid":"MQTT_FX_Client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ae45e204.a8a19","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5f16a70f.54fca8","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"d1482450.3689a8","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"86888b3f.dac098","type":"mqtt in","z":"618ec55a.dba7ec","name":"MQTT topic 1","topic":"perrychen/sensor","qos":"2","broker":"6ef639e.78a46c8","x":334.5,"y":284,"wires":[["c17f5d6e.1fd59"]]},{"id":"c17f5d6e.1fd59","type":"json","z":"618ec55a.dba7ec","name":"","property":"payload","action":"","pretty":false,"x":349.5,"y":165,"wires":[["671be687.ec5908"]]},{"id":"ca7f6fb9.7bd3f","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":814,"y":22,"wires":[]},{"id":"671be687.ec5908","type":"switch","z":"618ec55a.dba7ec","name":"","property":"payload.analyze","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":488,"y":164,"wires":[["c6a9074f.ec52c8"],["e1e49fe.9d67b6","a26948c1.3a9108"]]},{"id":"84e1ec0c.d09f2","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":818.5,"y":358,"wires":[]},{"id":"e1e49fe.9d67b6","type":"change","z":"618ec55a.dba7ec","name":"","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"this is not being analyzed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":648.5,"y":236,"wires":[["84e1ec0c.d09f2"]]},{"id":"c6a9074f.ec52c8","type":"change","z":"618ec55a.dba7ec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600.5,"y":118,"wires":[["2d258be9.2abf34"]]},{"id":"2d258be9.2abf34","type":"rbe","z":"618ec55a.dba7ec","name":"if value change > 20%","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":743.5,"y":68,"wires":[["ca7f6fb9.7bd3f"]]},{"id":"a26948c1.3a9108","type":"change","z":"618ec55a.dba7ec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":546,"y":311,"wires":[["13cf3250.299aae"]]},{"id":"13cf3250.299aae","type":"range","z":"618ec55a.dba7ec","minin":"0","maxin":"10","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":618.5,"y":406,"wires":[["84045742.50dbc8"]]},{"id":"84045742.50dbc8","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":808.5,"y":412,"wires":[]},{"id":"2060c55e.ebad7a","type":"mqtt out","z":"618ec55a.dba7ec","name":"","topic":"perrychen/sensor","qos":"","retain":"","broker":"6ef639e.78a46c8","x":495,"y":511,"wires":[]},{"id":"9f3552c6.14015","type":"inject","z":"618ec55a.dba7ec","name":"{\"analyze\":false, \"value\":10}","topic":"","payload":"{\"analyze\":false, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":234.00001525878906,"y":458,"wires":[["2060c55e.ebad7a"]]},{"id":"524ac6e5.eacae8","type":"inject","z":"618ec55a.dba7ec","name":"{\"analyze\":true, \"value\":6}","topic":"","payload":"{\"analyze\":true, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":246.00001525878906,"y":508,"wires":[["2060c55e.ebad7a"]]},{"id":"e42f2661.0aa008","type":"inject","z":"618ec55a.dba7ec","name":"{\"analyze\":true, \"value\":1}","topic":"","payload":"{\"analyze\":true, \"value\":10}","payloadType":"string","repeat":"","crontab":"","once":false,"x":243.00001525878906,"y":557,"wires":[["2060c55e.ebad7a"]]},{"id":"93321434.04eb88","type":"websocket in","z":"618ec55a.dba7ec","name":"","server":"","client":"d1482450.3689a8","x":266.5,"y":812,"wires":[["7c573592.29094c"]]},{"id":"6e3f9aa5.32ef04","type":"websocket out","z":"618ec55a.dba7ec","name":"","server":"","client":"d1482450.3689a8","x":586.5,"y":727,"wires":[]},{"id":"e1db4dff.1b374","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"Hello there","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202.5,"y":727,"wires":[["6e3f9aa5.32ef04"]]},{"id":"7c573592.29094c","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":536.5,"y":813,"wires":[]},{"id":"5211fbf3.2d9564","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":224.5,"y":963,"wires":[["9610d52d.9dbeb8"]]},{"id":"9610d52d.9dbeb8","type":"function","z":"618ec55a.dba7ec","name":"Set Get request string","func":"msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com\";\nreturn msg;","outputs":1,"noerr":0,"x":367.5,"y":1038,"wires":[["7fa68077.425e4"]]},{"id":"19193d4b.d69193","type":"function","z":"618ec55a.dba7ec","name":"Parse response buffer into string","func":"msg.payload = mas.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":596.5,"y":1197,"wires":[["f2b3d8a8.da6ab8"]]},{"id":"f2b3d8a8.da6ab8","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":624.5,"y":1281,"wires":[]},{"id":"7fa68077.425e4","type":"tcp request","z":"618ec55a.dba7ec","server":"www.google.com","port":"80","out":"time","splitc":"0","name":"","x":461.5,"y":1123,"wires":[["19193d4b.d69193"]]}]