.flows_US-C02S7313FVH6.json.backup
[{"id":"618ec55a.dba7ec","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"9c964c13.929d1","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"bf6ab063.2840b","type":"subflow","name":"Subflow 2","info":"","in":[{"x":62,"y":150,"wires":[]}],"out":[{"x":685,"y":350,"wires":[]}]},{"id":"b33d759d.4c0c78","type":"subflow","name":"Sentiment Switch","info":"","in":[{"x":71,"y":159,"wires":[{"id":"31a1b59c.084a8a"}]}],"out":[{"x":637,"y":123,"wires":[{"id":"6793c7a1.e83808","port":0}]},{"x":638,"y":167,"wires":[{"id":"6793c7a1.e83808","port":1}]},{"x":641,"y":216,"wires":[{"id":"6793c7a1.e83808","port":2}]}]},{"id":"f9b5e4ff.837958","type":"subflow","name":"Counter","info":"","in":[{"x":160,"y":205,"wires":[{"id":"47ae84f.586a27c"}]}],"out":[{"x":588,"y":203,"wires":[{"id":"47ae84f.586a27c","port":0}]}]},{"id":"4876a225.2a07ec","type":"subflow","name":"Subflow 3","info":"","in":[{"x":50,"y":30,"wires":[{"id":"e74b83fe.c6beb"}]}],"out":[{"x":160,"y":30,"wires":[{"id":"e74b83fe.c6beb","port":0}]}]},{"id":"fc4cf70e.1050e8","type":"subflow","name":"Subflow 4","info":"","in":[{"x":50,"y":30,"wires":[{"id":"508686a6.090e68"}]}],"out":[{"x":160,"y":30,"wires":[{"id":"508686a6.090e68","port":0}]}]},{"id":"4b4abcef.f63894","type":"fitbit-credentials","z":"","username":""},{"id":"6f77cd38.cf1bf4","type":"twitter-credentials","z":"","screen_name":""},{"id":"6ef639e.78a46c8","type":"mqtt-broker","z":"","name":"Perry Sensor","broker":"0.0.0.0","port":"1883","clientid":"MQTT_FX_Client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ae45e204.a8a19","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5f16a70f.54fca8","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"d1482450.3689a8","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"5eeb2a48.ff05a4","type":"inject","z":"9c964c13.929d1","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":138,"wires":[["9977b21d.40e22"]]},{"id":"664ba1b2.1e746","type":"debug","z":"9c964c13.929d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":668,"y":128,"wires":[]},{"id":"9977b21d.40e22","type":"function","z":"9c964c13.929d1","name":"","func":"msg.payload += \"world\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":141,"wires":[["664ba1b2.1e746"]]},{"id":"e0f42ac0.af4e88","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"high","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203,"y":243,"wires":[["c0ad6637.78de38"]]},{"id":"cb7992e5.87e6f","type":"debug","z":"bf6ab063.2840b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":748,"y":240,"wires":[]},{"id":"c0ad6637.78de38","type":"function","z":"bf6ab063.2840b","name":"","func":"// msg.payload += \" world\";\n// return msg;\n\n// var newMsg = {payload: \"new payload\"};\n// return newMsg;\n\nif (msg.payload == \"high\") {\n    return [ msg, null, null ];\n} else if (msg.payload == \"med\") {\n    return [ null, msg, null ];\n} else {\n    return [ null, null, msg ];\n}","outputs":3,"noerr":0,"x":499,"y":239,"wires":[["cb7992e5.87e6f"],[],[]]},{"id":"244dd892.9afb28","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"med","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192,"y":301,"wires":[["c0ad6637.78de38"]]},{"id":"95d984ff.8063c8","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"low","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":352,"wires":[["c0ad6637.78de38"]]},{"id":"31a1b59c.084a8a","type":"sentiment","z":"b33d759d.4c0c78","name":"","property":"payload","x":219.5,"y":161,"wires":[["6793c7a1.e83808"]]},{"id":"6793c7a1.e83808","type":"switch","z":"b33d759d.4c0c78","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":418.5,"y":162,"wires":[[],[],[]]},{"id":"47ae84f.586a27c","type":"function","z":"f9b5e4ff.837958","name":"Counter","func":"if (!context.value) {\n  context.value = 0;\n}\ncontext.value +=1;\nmsg.count = context.value;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":205,"wires":[[]]},{"id":"999af44a.f65828","type":"html","z":"618ec55a.dba7ec","name":"Parse indexes","property":"payload","tag":"tr td","ret":"html","as":"single","x":320.5,"y":170,"wires":[["3f15fadb.e9d7a6"]]},{"id":"c1a2aa8b.f289b8","type":"http request","z":"618ec55a.dba7ec","name":"Get market data","method":"GET","ret":"txt","url":"http://127.0.0.1:8080/","tls":"","x":319.5,"y":338,"wires":[["999af44a.f65828"]]},{"id":"54335327.ffc52c","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":255,"wires":[["c1a2aa8b.f289b8"]]},{"id":"578fffd4.0ffb5","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":532,"y":105,"wires":[]},{"id":"3f15fadb.e9d7a6","type":"function","z":"618ec55a.dba7ec","name":"format address","func":"msg.headers = msg.originalHeaders;\nvar prices = msg.payload;\nvar newPayload = [];\nvar priceIndex = ['S&P', 'Dow', 'Nasdaq'];\nfor (var i = 0; i < prices.length; i++) {\n    newPayload.push({\n        index: priceIndex[i],\n        value: Number(prices[i].replace(/,/g))\n    });\n}\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":247,"wires":[["578fffd4.0ffb5"]]},{"id":"1f313e70.558c42","type":"function","z":"618ec55a.dba7ec","name":"","func":"var outputMsgs = [];\nvar wordMap = {};\n\nvar sentence = msg.payload.replace(/[.,-\\/#!$%\\^&\\*;:{}=\\-_`~()]/g,\"\");\nsentence = sentence.replace(/\\s{2,}/g,\" \");\n\nvar words = sentence.split(\" \");\nfor (var i = 0; i < words.length; i++) {\n    var lowerCaseWord = words[i].toLowerCase();\n    if (!wordMap[lowerCaseWord]) {\n        wordMap[lowerCaseWord] = 1;\n    } else {\n        wordMap[lowerCaseWord] = wordMap[lowerCaseWord] + 1;\n    }\n}\nfor (var prop in wordMap) {\n    if (wordMap.hasOwnProperty(prop)) {\n        outputMsgs.push({payload:{word:prop,count:wordMap[prop]}});\n    }\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":267,"y":457,"wires":[["c0d9d3a5.1e886"]]},{"id":"d3574ed0.1e202","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"Ask no questions, and you'll be told no lies.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":459,"wires":[["1f313e70.558c42"]]},{"id":"c0d9d3a5.1e886","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":448,"y":466,"wires":[]},{"id":"e74b83fe.c6beb","type":"http request","z":"4876a225.2a07ec","name":"","method":"GET","ret":"txt","url":"","x":259.5,"y":186,"wires":[[]]},{"id":"9b5f1903.afe368","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":56,"wires":[["bc842b9f.fb2218"]]},{"id":"bc842b9f.fb2218","type":"subflow:4876a225.2a07ec","z":"618ec55a.dba7ec","x":306,"y":79,"wires":[["e59af36e.93aeb"]]},{"id":"e59af36e.93aeb","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":497,"y":46,"wires":[]},{"id":"508686a6.090e68","type":"function","z":"fc4cf70e.1050e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":82,"y":128,"wires":[[]]}]