lib/flows/lecture5.json
[{"id":"f9b5e4ff.837958","type":"subflow","name":"Counter","info":"","in":[{"x":160,"y":205,"wires":[{"id":"47ae84f.586a27c"}]}],"out":[{"x":588,"y":203,"wires":[{"id":"47ae84f.586a27c","port":0}]}]},{"id":"47ae84f.586a27c","type":"function","z":"f9b5e4ff.837958","name":"Counter","func":"if (!context.value) {\n  context.value = 0;\n}\ncontext.value +=1;\nmsg.count = context.value;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":205,"wires":[[]]},{"id":"b33d759d.4c0c78","type":"subflow","name":"Sentiment Switch","info":"","in":[{"x":71,"y":159,"wires":[{"id":"31a1b59c.084a8a"}]}],"out":[{"x":637,"y":123,"wires":[{"id":"6793c7a1.e83808","port":0}]},{"x":638,"y":167,"wires":[{"id":"6793c7a1.e83808","port":1}]},{"x":641,"y":216,"wires":[{"id":"6793c7a1.e83808","port":2}]}]},{"id":"31a1b59c.084a8a","type":"sentiment","z":"b33d759d.4c0c78","name":"","property":"payload","x":219.5,"y":161,"wires":[["6793c7a1.e83808"]]},{"id":"6793c7a1.e83808","type":"switch","z":"b33d759d.4c0c78","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":418.5,"y":162,"wires":[[],[],[]]},{"id":"bf6ab063.2840b","type":"subflow","name":"Subflow 2","info":"","in":[{"x":62,"y":150,"wires":[]}],"out":[{"x":685,"y":350,"wires":[]}]},{"id":"e0f42ac0.af4e88","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"high","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203,"y":243,"wires":[["c0ad6637.78de38"]]},{"id":"cb7992e5.87e6f","type":"debug","z":"bf6ab063.2840b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":748,"y":240,"wires":[]},{"id":"c0ad6637.78de38","type":"function","z":"bf6ab063.2840b","name":"","func":"// msg.payload += \" world\";\n// return msg;\n\n// var newMsg = {payload: \"new payload\"};\n// return newMsg;\n\nif (msg.payload == \"high\") {\n    return [ msg, null, null ];\n} else if (msg.payload == \"med\") {\n    return [ null, msg, null ];\n} else {\n    return [ null, null, msg ];\n}","outputs":3,"noerr":0,"x":499,"y":239,"wires":[["cb7992e5.87e6f"],[],[]]},{"id":"244dd892.9afb28","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"med","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192,"y":301,"wires":[["c0ad6637.78de38"]]},{"id":"95d984ff.8063c8","type":"inject","z":"bf6ab063.2840b","name":"","topic":"","payload":"low","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":352,"wires":[["c0ad6637.78de38"]]},{"id":"9c964c13.929d1","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"5eeb2a48.ff05a4","type":"inject","z":"9c964c13.929d1","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":138,"wires":[["9977b21d.40e22"]]},{"id":"664ba1b2.1e746","type":"debug","z":"9c964c13.929d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":668,"y":128,"wires":[]},{"id":"9977b21d.40e22","type":"function","z":"9c964c13.929d1","name":"","func":"msg.payload += \"world\";\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":141,"wires":[["664ba1b2.1e746"]]},{"id":"f307914e.50e67","type":"subflow:9c964c13.929d1","z":"618ec55a.dba7ec","name":"","x":203,"y":99,"wires":[]},{"id":"112b1ab5.1e4e45","type":"function","z":"618ec55a.dba7ec","name":"send 10 inputs","func":"var msgList = [];\nfor (var i=0; i<10; i++) {\n  msgList.push({payload:i});\n}\nreturn [msgList];","outputs":1,"noerr":0,"x":527,"y":451,"wires":[["ab8579c6.8e7908"]]},{"id":"4951fd2.65fc704","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":258,"y":475,"wires":[["112b1ab5.1e4e45"]]},{"id":"ab8579c6.8e7908","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":793,"y":472,"wires":[]},{"id":"828e7482.e71058","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":213,"y":559,"wires":[["5833a927.e37bc8"]]},{"id":"5833a927.e37bc8","type":"function","z":"618ec55a.dba7ec","name":"node send function","func":"// send message after 10 second delay\nsetTimeout(function() {\n    node.send(msg);\n}, 10000);\nreturn null;","outputs":1,"noerr":0,"x":439,"y":560,"wires":[["187e1c07.aca064"]]},{"id":"187e1c07.aca064","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":708,"y":558,"wires":[]},{"id":"fca37af4.982198","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201,"y":678,"wires":[["cbd5f03e.d679d"]]},{"id":"a4424d90.76627","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":662,"y":674,"wires":[]},{"id":"cbd5f03e.d679d","type":"function","z":"618ec55a.dba7ec","name":"use context","func":"if (!context.value) {\n  context.value = 0;\n}\ncontext.value +=1;\nmsg.count = context.value;\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":683,"wires":[["a4424d90.76627"]]},{"id":"d3f2437c.33cb7","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":212,"y":785,"wires":[["bba540de.5273b"]]},{"id":"bba540de.5273b","type":"function","z":"618ec55a.dba7ec","name":"save start time","func":"context.global.startTime = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":877,"wires":[["d638068a.267688"]]},{"id":"d638068a.267688","type":"delay","z":"618ec55a.dba7ec","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":429,"y":785,"wires":[["2d17f81c.367b98"]]},{"id":"2d17f81c.367b98","type":"function","z":"618ec55a.dba7ec","name":"Time elapsed","func":"var currentTime = new Date().getTime();\nvar timeElapsed = (currentTime - context.global.startTime) / 1000;\nmsg.payload = \"Time elapsed is: \"+timeElapsed+\"s\";\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":873,"wires":[["a74d1a1.6677fe8"]]},{"id":"a74d1a1.6677fe8","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":778,"wires":[]},{"id":"30691be2.f83af4","type":"subflow:bf6ab063.2840b","z":"618ec55a.dba7ec","name":"","x":470,"y":295.5,"wires":[[]]},{"id":"d44804de.c7a878","type":"twitter in","z":"618ec55a.dba7ec","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":185.5,"y":198,"wires":[["6e187754.d70cb8"]]},{"id":"fa8db88c.975d08","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":651,"y":195,"wires":[]},{"id":"6e187754.d70cb8","type":"subflow:b33d759d.4c0c78","z":"618ec55a.dba7ec","x":428,"y":196.5,"wires":[[],[],["fa8db88c.975d08"]]},{"id":"e89f0c46.13a34","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199,"y":1000,"wires":[["a24399ca.a9fa28"]]},{"id":"a24399ca.a9fa28","type":"subflow:f9b5e4ff.837958","z":"618ec55a.dba7ec","x":405,"y":1001,"wires":[["9d40d6d1.c5b7e8"]]},{"id":"9d40d6d1.c5b7e8","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":543,"y":1004,"wires":[]}]