lib/flows/openweathermap.json
[{"id":"887f2df5.2dab2","type":"openweathermap in","z":"618ec55a.dba7ec","name":"","wtype":"current","lon":"","lat":"","city":"ShangHai","country":"China","language":"en","x":164.5,"y":175,"wires":[["ae69894a.77da58"]]},{"id":"ae69894a.77da58","type":"function","z":"618ec55a.dba7ec","name":"If clear weather","func":"if (msg.payload.weather === \"Clear\") {\n    msg.payload = \"Clear skies ahead today!\"\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":409,"y":177,"wires":[["7942191f.ce92a8"]]},{"id":"7942191f.ce92a8","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":651,"y":163,"wires":[]}]