lib/flows/tcp_example.json
[{"id":"30e29f10.a4617","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176,"y":117,"wires":[["39d2d85f.3b63f8"]]},{"id":"39d2d85f.3b63f8","type":"function","z":"618ec55a.dba7ec","name":"set GET request string","func":"msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com\"\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":193,"wires":[["7f801748.7f3458"]]},{"id":"7f801748.7f3458","type":"tcp request","z":"618ec55a.dba7ec","server":"www.google.com","port":"80","out":"time","splitc":"1000","name":"","x":406,"y":248,"wires":[["a348113b.d423"]]},{"id":"a348113b.d423","type":"function","z":"618ec55a.dba7ec","name":"parse string","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":314,"wires":[["4bc1b6c.da3f348"]]},{"id":"4bc1b6c.da3f348","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":518,"y":375,"wires":[]}]