lib/flows/websocket_example.json
[{"id":"7f9f4d45.5a5494","type":"inject","z":"618ec55a.dba7ec","name":"","topic":"","payload":"Hello there","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":181,"y":109,"wires":[["3d6967b9.c53ad8"]]},{"id":"6257d545.d5208c","type":"websocket in","z":"618ec55a.dba7ec","name":"","server":"","client":"d1482450.3689a8","x":174,"y":345,"wires":[["c98a1e2f.6bf3e"]]},{"id":"3d6967b9.c53ad8","type":"websocket out","z":"618ec55a.dba7ec","name":"","server":"","client":"d1482450.3689a8","x":496,"y":110,"wires":[]},{"id":"c98a1e2f.6bf3e","type":"debug","z":"618ec55a.dba7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":482,"y":347,"wires":[]},{"id":"d1482450.3689a8","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"}]